{% extends "base.html" %}
{% block content %}

<center>
<p>so while i was at work the other day, waiting for one of my servers
to build, i wondered the following: <i>how many of <a
href="http://twitter.com/aplusk">ashton kutcher's</a> followers
actually click on the links that he tweets?</i>. so i went ahead and
built a little program to do just that. much to my surprise, i found
that on most occassions less than 1% of his followers actually go on
to click the links that he tweets. go on, see for <a
href="/u/aplusk">yourself</a>. you could also try out some users who
have a <a href="/celebrities">ridiculous number of followers</a>.
</p>

<p>now, there are a few caveats. if, for example, 2 users tweet the
same URL, as far as I know, both these users are given the same bit.ly
link, which could overstate the click count. also, some URLs get
retweeted like crazy, once again overstating the click count.
</p>
</center>

{% endblock %}