{% extends "base.html" %}
{% block content %}

<form name="input" action="/" method="get">
<center>
<p>enter a twitter username (try a <a href="/celebrities">celebrity</a>)</p>
<input type="text" name="username" />
<input type="submit" value="submit" />

{% if error_text %}
<p class="error">{{ error_text }}</p>
{% endif %}

{% if recent_users %}
<p>
<i>twitter usernames inside our database</i>
</p>
{% endif %}

<p>
...
{% for res in recent_users %}
<b><a class="celeb" href="/u/{{ res }}">{{ res }}</a></b>
{% endfor %}
...
</p>
</center>
<div class="buttonEnding"></div>
</form>

{% endblock %}z