{% extends "base.html" %}
{% block content %}

<center>
<a href="http://twitter.com/home?status=does anyone click the bit.ly links that i tweet? http://whoclicksmylinks.info/u/{{ username }}"><img src="/tweet_this.png" title="tweet this: does anyone click the bit.ly links that i tweet? http://whoclicksmylinks.info/u/{{ username }}" alt="tweet this: does anyone click the bit.ly links that i tweet? http://whoclicksmylinks.info/u/{{ username }}" style="border-style: none"/></a>
</center>

<center>
<p>fetched from bit.ly and twitter on {{ created_at|date }}. refreshed daily, starting now.</p>
</center>

<table border="0">
<tr><td>report for <a href="http://twitter.com/{{ summary.user }}">{{ summary.user }}</a></td></tr>
<tr><td>recent tweets with links {{ summary.total_links }}</td></tr>
<tr><td>clicks {{ summary.total_clicks }}</td></tr>
<tr><td>followers {{ summary.followers }}</td></tr>
</table>


{% for res in result_list %}
<p>
  <b>{{ res.clicks }}</b> <i>({{ res.clickthrough }})</i>
  <small>{{ res.text }} ({{ res.time_ago_str }})</small>
</p>
{% endfor %}
{% endblock %}

<p><b>clicks</b> <i>(clicks divided by the number of followers)<i></p>